<div id="cadastro">
  <mat-card>
    <div>
      <img src="assets/logo.svg" alt="Cleydson Sobral" height="24" />
    </div>
    <h1 class="mat-headline">Fazer cadastro</h1>
    <h2 class="mat-title">Use sua Conta Google</h2>
    <div style="padding-top: 16px;">
      <button mat-raised-button (click)="cadastro()">
        <img
          src="assets/logo/Google__G__Logo.svg"
          alt="Google G Logo"
          height="16"
          style="margin: -4px 4px 0 0;"
        />
        Entrar com o Google
      </button>
    </div>
    <div style="padding-top: 32px;">
      <button mat-button color="primary" routerLink="/login">
        Já tenho conta
      </button>
    </div>
  </mat-card>
</div>
