<article id="faq">
  <div class="container">
    <h2 class="mat-title">Dúvidas Frequentes</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            1 - A Consulta vai me ajudar?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Vai te ajudar a vencer o que mais te incomoda nos dias atuais e não te
          deixa viver como quer. Juntos nós vamos conseguir vencer e te colocar
          no eixo.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            2 - Qualquer pessoa pode aderir?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Toda e qualquer pessoa que deseja emagrecer e que quer melhorar a sua
          autoestima pode participar. Se você já tentou de tudo e nada deu
          certo, você está em um bom lugar.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            3 - Quais formas de pagamento?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          O pagamento pode ser efetuado no cartão de crédito ou boleto bancário.
          Após a confirmação, você será encaminhado(a) para o questionário
          on-line e logo em seguida eu entrarei em contato para marcamos o
          primeiro encontro.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            4 - E depois de 3 meses, o que acontece?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Você ainda permanecerá com o meu contato pessoal para tirar qualquer
          dúvida. Porém, para traçarmos novas metas e objetivos precisamos
          renovar uma nova consulta.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            5 - Em quanto tempo vejo resultados?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Os resultados variam de pessoa para pessoa. Depende muito da sua
          disciplina. Tenho pacientes que conseguiram enxergar resultados em 1
          semana, como também tem pacientes que só enxergaram após 1 mês.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            6 - Tem alguma restrição para participar da consulta?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Todos podem participar da consulta. Independente de gênero, idade,
          estilo de vida ou histórico de exercícios. O único requisito é querer
          melhorar sua estética e saúde.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            7 - Existe consulta presencial?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Sim. Meu consultório particular fica localizado no bairro das Graças
          em Recife-PE no empresarial Kronos. Mas devido a pandemia do
          coronavírus, nosso Conselho Federal de Nutrição permitiu a primeira
          consulta ser realizada on-line. Caso queria uma consulta presencial,
          basta entrar em contato comigo através do Instagram @cleydsonsobral ou
          pelo WhatsApp (81) 99715-4000.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</article>
