<article id="faq" class="container">
    <h2 class="mat-title">Dúvidas Frequentes </h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    1 - A Consulta vai me ajudar?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Vai te ajudar a vencer o que mais te incomoda nos dias atuais e não te deixa viver como quer. Juntos nós
                vamos
                conseguir vencer e te colocar no eixo.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    2 - Qualquer pessoa pode aderir?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Toda e qualquer pessoa que deseja emagrecer e que quer melhorar a sua autoestima pode participar. Se você
                já tentou de tudo e nada deu certo, você está em um bom lugar.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    3 - Quais formas de pagamento?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Você pode efetuar o pagamento no cartão de crédito ou boleto bancário. Após a confirmação de pagamento eu
                entro em contato e marcamos o primeiro encontro.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    4 - E depois de 3 meses, o que acontece?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Você ainda permanecerá com o meu contato pessoal para tirar qualquer dúvida. Porém, para traçarmos novas
                metas e objetivos precisamos renovar uma nova consulta.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    5 - Em quanto tempo vejo resultados?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Os resultados variam de pessoa para pessoa. Depende muito da sua disciplina. Tenho pacientes que
                conseguiram enxergar resultados em 1 semana, como também tem pacientes que só enxergaram após 1 mês.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    6 - Tem alguma restrição para participar da consulta?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Todos podem participar da consulta. Independente de gênero, idade, estilo de vida ou histórico de
                exercícios. O único requisito é querer melhorar sua estética e saúde.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    7 - Existe consulta presencial?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Sim. Mas em época de Covid aderimos para o atendimento online. Caso queira uma consulta presencial
                após o
                Covid
                basta entrar em contato comigo no Instagram <a
                    href="https://www.instagram.com/cleydsonsobral/">@cleydsonsobral</a> ou pelo whatsapp <a
                    href="https://api.whatsapp.com/send?phone=558199040213&text=Ol%C3%A1%20Cleydson%20Sobral%2C%20quero%20agendar%20uma%20consulta%20com%20voc%C3%AA!">81.99405.0213</a>.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</article>