<footer>
  <div class="container">
    <p>
      <a href="/">Cleydson Sobral</a> © 2020 Todos direitos reservados<br />CRN:
      10061 | CNPJ: 22.310.968/0001-57<br />
      <a routerLink="/termos-uso">Termos de Uso</a> |
      <a routerLink="/politica-cancelamento">Política de Cancelamento</a><br />
      Desenvolvido pela
      <a href="https://cafeinadesign.github.io/">Cafeína Design</a>
    </p>
    <p class="small">
      <small>
        Entenda que os resultados e depoimentos apresentados não são típicos. A
        Consulta não garante que você conseguirá obter quaisquer resultados. Sua
        melhoria vai variar e depender de muitos fatores, incluindo sua
        disciplina e constância.<br />
        Toda a evolução incluí disciplina, além de esforços e consistência. Se
        você não está disposto em aceitar essa realidade e mudar os seus
        hábitos, a consulta não atenderá as suas necessidades.<br />
        P.S: Reforçando que este site não faz parte do Facebook Inc.
        Adicionalmente, esse site NÃO é endossado pelo Facebook de nenhuma
        maneira. O Facebook é uma marca comercial do Facebook Inc.
      </small>
    </p>
  </div>
</footer>
