<header focusOnNavigation>
    <div class="header">
      <div class="container">
        <h1 class="mat-display-3">O Básico que Funciona!</h1>
        <h2 class="mat-headline">Resultados Sustentáveis são Possíveis.</h2>
        <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button>
          <mat-icon>videocam</mat-icon> Agendar Consulta Online
        </a>
      </div>
    </div>
  </header>
  <main class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mat-display-1">Nutricionista Cleydson Sobral</h1>
        <h2>Quem sou eu?</h2>
        <p>Atuo na área de saúde corporal a mais de 15 anos ajudando pessoas normais como você a conseguir alcançar seus
          objetivos. Desses 15 anos 8 são totalmente dedicados a nutrição.</p>
        <p>Caso você não me conheça, eu passo dicas diariamente em meu Instagram (atualmente com quase 53 mil seguidores),
          também tiro diversas dúvidas de alimentação e treino.</p>
        <p>A verdade é uma só, não existe mágica, existe persistência e vontade de manter um corpo bonito e saudável, a
          chave pra isso acontecer fica apenas com você. Meu trabalho é apenas mostrar onde essa chave está escondida.</p>
        <p>Agora um pouquinho das minhas habilidades:</p>
        <ul>
          <li>Formado em Nutrição</li>
          <li>Formado em Educação Física</li>
          <li>Especialista em Treinamento de Força e Musculação</li>
          <li>Especialista em Nutrição Esportiva</li>
          <li>Especialista em Tratamento da Obesidade e Emagrecimento</li>
        </ul>
        <p>Atualmente conto com mais de 10 mil atendimentos e com quase 5 mil pacientes. Estou bem feliz em poder lhe
          ajudar a alcançar a saúde, qualidade de vida e beleza que tanto deseja.</p>
        <p>Podemos começar juntos agora mesmo. Vamos impulsionar seu bem estar físico e mental?</p>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/cleydsonsobral.jpeg" alt="Cleydson Sobral" width="100%" class="mat-elevation-z4">
      </div>
    </div>
  </main>
  <section>
    <div class="container">
      <h1>Conheça a Consultoria Nutrição 4x</h1>
      <ul>
        <li>Está desejando emagrecer de forma saudável e se sentir melhor quando olhar no espelho?</li>
        <li>Está desejando praticar exercícios simples do dia a dia, que ainda não consegue?</li>
        <li>Está desejando manter seu peso ideal, sem efeito sanfona e sem gastar rios de dinheiro?</li>
      </ul>
      <p>O acompanhamento por 3 meses de um Profissional da Nutrição pode transformar a sua realidade do jeito que você
        precisa.</p>
      <p>Tudo acontecerá de forma online. Isso significa que você vai poder estar no conforto da sua casa e fazer a
        consultoria comigo.</p>
      <button mat-raised-button>
        <mat-icon>videocam</mat-icon> Agende sua Consulta Agora
      </button>
    </div>
  </section>
  <article class="container">
    <h1>Dúvidas Frequentes </h1>
    <article>
      <h2>1 - A Consultoria vai me ajudar?</h2>
      <p>Vai te ajudar a vencer o que mais te incomoda nos dias atuais e não te deixa viver como quer. Juntos nós vamos
        conseguir vencer e te colocar no eixo.</p>
    </article>
    <article>
      <h2>2 - Qualquer pessoa pode aderir?</h2>
      <p>Toda e qualquer pessoa que quer aumentar a sua autoestima e eliminar a vergonha que tem do seu corpo pode
        participar. Se você já tentou de tudo e nada deu certo, você está em um bom lugar.</p>
    </article>
    <article>
      <h2>3 - Quais formas de pagamento?</h2>
      <p>Você pode efetuar o pagamento no cartão de crédito ou boleto bancário. Após a confirmação de pagamento eu entro
        em contato e marcamos o primeiro encontro.</p>
    </article>
    <article>
      <h2>4 - E depois de 3 meses, o que acontece?</h2>
      Você ainda permanecerá com o meu contato pessoal para tirar qualquer dúvida. Porém, para traçarmos novas metas e
      objetivos precisamos renovar uma nova consultoria.
    </article>
    <article>
      <h2>5 - Em quanto tempo vejo resultados?</h2>
      Os resultados variam de pessoa para pessoa. Depende muito da sua disciplina. Tenho pacientes que conseguiram
      enxergar resultados em 1 semana, como também tem pacientes que só enxergaram após 1 mês.
    </article>
    <article>
      <h2>6 - Tem alguma restrição para participar da consultoria?</h2>
      Todos podem participar da consultoria. Independente de gênero, idade, estilo de vida ou histórico de exercícios. O
      único requisito é querer melhorar sua estética e saúde.
    </article>
    <article>
      <h2>7 - Existe consultoria presencial?</h2>
      Sim. Mas em época de Covid aderimos para o atendimento online. Caso queira uma consultoria presencial após o Covid
      basta entrar em contato comigo no Instagram <a href="https://www.instagram.com/cleydsonsobral/">@cleydsonsobral</a>
      ou pelo whatsapp <a
        href="https://api.whatsapp.com/send?phone=558199040213&text=Ol%C3%A1%20Cleydson%20Sobral%2C%20quero%20agendar%20uma%20consulta%20com%20voc%C3%AA!">81.99405.0213</a>.
    </article>
  </article>