<header>
    <div class="header">
        <div class="container">
            <h1 class="mat-display-3">O Básico que Funciona!</h1>
            <h2 class="mat-headline">Resultados Sustentáveis são Possíveis.</h2>
            <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button color="primary">
                <mat-icon>videocam</mat-icon> Agendar Consulta
            </a>
        </div>
    </div>
</header>
<main class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mat-display-1">Cleydson Sobral</h1>
            <h2>Quem sou eu?</h2>
            <p>Atuo na área de saúde corporal há mais de 17 anos ajudando pessoas normais como você a conseguir alcançar
                seus objetivos. Desses 17 anos, 8 são totalmente dedicados a nutrição.</p>
            <p>Caso você não me conheça, eu passo dicas diariamente em meu Instagram (atualmente com mais de 50 mil
                seguidores), também tiro diversas dúvidas de alimentação e treino.</p>
            <p>A verdade é uma só, não existe mágica, existe persistência e vontade de manter um corpo bonito e
                saudável, a chave pra isso acontecer fica apenas com você. Meu trabalho é apenas mostrar onde essa chave
                está escondida.</p>
            <p>Agora um pouquinho das minha formação:</p>
            <ul>
                <li>Formado em Nutrição</li>
                <li>Formado em Educação Física</li>
                <li>Especialista em Treinamento de Força e Musculação</li>
                <li>Especialista em Nutrição Esportiva</li>
                <li>Especialista em Tratamento da Obesidade e Emagrecimento</li>
            </ul>
            <p>Atualmente já passaram por mim mais de 5 mil pacientes, e você pode ser o próximo(a). Estou bem feliz em
                poder lhe ajudar a alcançar a saúde, qualidade de vida e beleza que tanto deseja.</p>
            <p>Podemos começar juntos agora mesmo. Vamos impulsionar seu bem estar físico e mental?</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/cleydsonsobral.webp" alt="Cleydson Sobral" width="100%" class="mat-elevation-z4">
        </div>
    </div>
</main>
<section class="mat-elevation-z6">
    <div class="container">
        <h1 class="mat-display-1">Conheça a Consultoria Nutrição 4x</h1>
        <ul>
            <li class="mat-headline">Está desejando emagrecer de forma saudável e se sentir melhor quando olhar no
                espelho?</li>
            <li class="mat-headline">Está desejando praticar exercícios simples do dia a dia, que ainda não consegue?
            </li>
            <li class="mat-headline">Está desejando manter seu peso ideal, sem efeito sanfona e sem gastar rios de
                dinheiro?</li>
        </ul>
        <p class="mat-h1">O <strong>acompanhamento por 3 meses de um Profissional da Nutrição</strong> pode transformar
            a sua realidade
            do jeito que você precisa.</p>
        <p class="mat-h1">O atendimento <strong>pode ser feito de forma presencial ou online</strong>, dependendo do que
            você preferir. Você preencherá um questionário online antes da consulta e seguiremos para os próximos
            passos.</p>
        <p class="mat-h1">Após isso, ocorrerá uma avaliação, um diagnóstico e uma intervenção nutricional iniciando o
            tratamento. Você
            terá um acompanhamento, e uma suplementação indicada, para inserir no seu <strong>plano alimentar
                invidualizado</strong>.</p>
        <p class="mat-h1">Nós teremos contato direto no WhatsApp e você vai poder tirar qualquer dúvida comigo. Eu te
            acompanharei por
            lá e <strong>vou indicar tudo o que precisa ser feito</strong>, passo a passo. <strong>Você não estará
                sozinho(a)</strong> em nenhum momento.</p>

        <h1 class="mat-display-2">Agendar Consulta Online</h1>
        <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button>
            <mat-icon>videocam</mat-icon> Agendar Consulta Online
        </a>
    </div>
</section>
<article class="container">
    <h2 class="mat-title">Dúvidas Frequentes </h2>
    <article>
        <h3>1 - A Consultoria vai me ajudar?</h3>
        <p>Vai te ajudar a vencer o que mais te incomoda nos dias atuais e não te deixa viver como quer. Juntos nós
            vamos
            conseguir vencer e te colocar no eixo.</p>
    </article>
    <article>
        <h3>2 - Qualquer pessoa pode aderir?</h3>
        <p>Toda e qualquer pessoa que quer aumentar a sua autoestima e eliminar a vergonha que tem do seu corpo pode
            participar. Se você já tentou de tudo e nada deu certo, você está em um bom lugar.</p>
    </article>
    <article>
        <h3>3 - Quais formas de pagamento?</h3>
        <p>Você pode efetuar o pagamento no cartão de crédito ou boleto bancário. Após a confirmação de pagamento eu
            entro
            em contato e marcamos o primeiro encontro.</p>
    </article>
    <article>
        <h3>4 - E depois de 3 meses, o que acontece?</h3>
        Você ainda permanecerá com o meu contato pessoal para tirar qualquer dúvida. Porém, para traçarmos novas metas e
        objetivos precisamos renovar uma nova consultoria.
    </article>
    <article>
        <h3>5 - Em quanto tempo vejo resultados?</h3>
        Os resultados variam de pessoa para pessoa. Depende muito da sua disciplina. Tenho pacientes que conseguiram
        enxergar resultados em 1 semana, como também tem pacientes que só enxergaram após 1 mês.
    </article>
    <article>
        <h3>6 - Tem alguma restrição para participar da consultoria?</h3>
        Todos podem participar da consultoria. Independente de gênero, idade, estilo de vida ou histórico de exercícios.
        O
        único requisito é querer melhorar sua estética e saúde.
    </article>
    <article>
        <h3>7 - Existe consultoria presencial?</h3>
        Sim. Mas em época de Covid aderimos para o atendimento online. Caso queira uma consultoria presencial após o
        Covid
        basta entrar em contato comigo no Instagram <a
            href="https://www.instagram.com/cleydsonsobral/">@cleydsonsobral</a>
        ou pelo whatsapp <a
            href="https://api.whatsapp.com/send?phone=558199040213&text=Ol%C3%A1%20Cleydson%20Sobral%2C%20quero%20agendar%20uma%20consulta%20com%20voc%C3%AA!">81.99405.0213</a>.
    </article>
</article>