<div id="consulta">
  <mat-card>
    <div>
      <img id="logo" src="assets/logo.svg" alt="Cleydson Sobral" height="24" />
    </div>
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="customerForm" errorMessage="CPF é obrigatório">
        <form [formGroup]="customerForm">
          <div *ngIf="auth.user | async as user">
            <img [src]="user.photoURL" [alt]="user.displayName" id="avatar" />
            <h1 class="mat-headline">Olá, {{ user.displayName }}</h1>
          </div>
          <ng-template matStepLabel>Dados pessoais</ng-template>
          <h2 class="mat-title">Dados pessoais</h2>
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input
              type="tel"
              matInput
              placeholder="Digite seu CPF"
              id="cpf"
              name="cpf"
              formControlName="cpf"
              required
            />
          </mat-form-field>
          <div>
            <h2 class="mat-title">Contato</h2>
            <mat-form-field appearance="outline">
              <mat-label>Telefone/WhatsApp</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Digite seu Telefone"
                formControlName="phone_number"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <h2 class="mat-title">Endereço</h2>
            <mat-form-field appearance="outline" style="margin-right: 10px;">
              <mat-label>CEP</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Digite seu CEP"
                formControlName="cepCtrl"
                required
                (change)="buscaCEP()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 72px;">
              <mat-label>Nº</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Número"
                formControlName="nCtrl"
                size="2"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Complemento</mat-label>
              <input
                matInput
                placeholder="Digite seu Complemento"
                formControlName="complementoCtrl"
              />
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperNext>
              Continuar
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Pagamento</ng-template>
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit(cardForm.value)">
          <div>
            <h1 class="mat-headline">Realizar pagamento</h1>
            <h2 class="mat-title">
              Valor total: R$
              {{ valorTotal / 100 | currency: "R$" }}
            </h2>
            <mat-form-field appearance="outline" style="width: 260px;">
              <mat-label>Número do cartão</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Número do cartão"
                id="card_number"
                name="card_number"
                formControlName="card_number"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 260px;">
              <mat-label>Nome como escrito no cartão</mat-label>
              <input
                type="text"
                matInput
                placeholder="Seu nome como escrito no cartão"
                id="card_holder_name"
                name="card_holder_name"
                formControlName="card_holder_name"
                required
              />
            </mat-form-field>
          </div>
          <mat-form-field
            appearance="outline"
            style="margin-right: 10px; width: 120px;"
          >
            <mat-label>Validade</mat-label>
            <input
              matInput
              type="tel"
              id="card_expiration_date"
              name="card_expiration_date"
              formControlName="card_expiration_date"
              placeholder="MM/AA"
              maxlength="5"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 130px;">
            <mat-label>CVV</mat-label>
            <input
              matInput
              type="tel"
              id="card_cvv"
              name="card_cvv"
              formControlName="card_cvv"
              placeholder="Código de segurança"
              maxlength="5"
              required
            />
          </mat-form-field>
          <div>
            <mat-form-field appearance="fill" style="width: 260px;">
              <mat-label>Parcelas</mat-label>
              <select
                formControlName="installments"
                matNativeControl
                required
                (change)="quantidadeParcelas(cardForm.value.installments)"
              >
                <option value="1">1x de R$470,00 - sem juros</option>
                <option value="2">2x de R$244,40 - com juros (2% a.m.)</option>
                <option value="3">3x de R$166,07 - com juros (2% a.m.)</option>
              </select>
            </mat-form-field>
          </div>
          <div style="margin-bottom: 20px;">
            <button
              type="submit"
              mat-raised-button
              color="accent"
              style="width: 260px; font-size: 16px; font-weight: 1000;"
            >
              <mat-icon>lock</mat-icon>
              Pagar {{ valorTotal / 100 | currency: "R$" }}
            </button>
          </div>
          <button mat-button matStepperPrevious>Voltar</button>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="secondFormGroup"
        errorMessage="Address is required."
      >
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Agendamento</ng-template>
          <h1 class="mat-headline">Selecione horário de preferência</h1>
          <p class="mat-body-2">
            Horário sujeito a confirmação do meu secretário
          </p>
          <h2 class="mat-title">Horário de atendimento:</h2>
          <p>
            Terça e Sexta 6:00 7:30 9:00 10:30<br />
            Quarta e quinta 13:00 14:30 16:00 17:30
          </p>
          <p>Dia da semana de preferência</p>
          <mat-radio-group aria-label="Dia da semana de preferência">
            <mat-radio-button value="1">Terça-feira</mat-radio-button>
            <mat-radio-button value="2">Quarta-feira</mat-radio-button>
            <mat-radio-button value="3">Quinta-feira</mat-radio-button>
            <mat-radio-button value="4">Sexta-feira</mat-radio-button>
          </mat-radio-group>
          <div>
            <p>Horário de preferência</p>
            <mat-radio-group aria-label="Dia da semana de preferência">
              Manhã:
              <mat-radio-button value="6:00">6:00</mat-radio-button>
              <mat-radio-button value="7:30">7:30</mat-radio-button>
              <mat-radio-button value="9:00">9:00</mat-radio-button>
              <mat-radio-button value="10:30">10:30</mat-radio-button><br />
              Tarde:
              <mat-radio-button value="13:00">13:00</mat-radio-button>
              <mat-radio-button value="14:30">14:30</mat-radio-button>
              <mat-radio-button value="16:00">16:00</mat-radio-button>
              <mat-radio-button value="17:30">17:30</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="accent" matStepperNext>
              Continuar
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Pré-consulta</ng-template>
        <p>Teste.</p>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <!-- <button mat-button (click)="stepper.reset()">Resetar</button> -->
          <button mat-raised-button color="primary" matStepperPrevious>
            Concluir
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
