<header>
    <div class="header">
        <div class="container">
            <h1 class="mat-display-3">DESCUBRA COMO A ORIENTAÇÃO DE UM PROFISSIONAL DA NUTRIÇÃO PODE FAZER VOCÊ
                TRANSFORMAR A SUA VIDA EM APENAS 3 MESES</h1>
            <p>Emagreça com a ajuda de um especialista no assunto, sabendo a sua alimentação ideal para atingir os
                resultados que sempre desejou, sem gastar rios de dinheiro.</p>
            <p>Tenha um acompanhamento online para um emagrecimento saudável e sustentável, sem efeito sanfona, fazendo
                o básico que funciona de verdade.</p>
            <h2 class="mat-headline">Quer a sua Orientação?</h2>
            <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button color="primary">
                <mat-icon>food_bank</mat-icon> SIM! EU QUERO
            </a>
        </div>
    </div>
</header>
<main class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mat-display-1">Quem sou eu?</h1>
            <p>Meu nome é Cleydson Sobral, sou nutricionista e atuo a mais de 8 anos ajudando pessoas normais, como
                você, a conseguir alcançar seus objetivos. Sou um especialista no tratamento de obesidade e
                emagrecimento. Até hoje já ajudei mais de 5 mil pessoas a conquistarem o que sempre sonharam: o
                emagrecimento sustentável.</p>
        </div>
        <div class="col-sm-4">
            <picture>
                <source srcset="assets/img/cleydsonsobral.webp" alt="Cleydson Sobral" width="100%"
                    class="mat-elevation-z4" type="image/webp">
                <source srcset="assets/img/cleydsonsobral.jpeg" alt="Cleydson Sobral" width="100%"
                    class="mat-elevation-z4" type="image/jpeg">
                <img src="assets/img/cleydsonsobral.jpeg" alt="Cleydson Sobral" width="100%" class="mat-elevation-z4">
            </picture>
        </div>
    </div>
</main>
<section class="mat-elevation-z6">
    <div class="container">
        <h1 class="mat-display-1">MUITO MAIS QUE UMA CONSULTORIA NUTRICIONAL</h1>
        <p class="mat-h1">Imagina como seria ter o seu físico alinhado com o que você sempre sonhou. <strong>Conseguir
                vestir aquela roupa que você tanto gosta</strong>, e se sentir melhor em frente ao espelho.</p>
        <p class="mat-h1">Sem precisar cortar aquele cuscuz com ovo no café da manhã, ou aquele arroz com feijão e bife
            que você tanto gosta.</p>
        <p class="mat-h1">Pensa em como seria se você não sofresse efeito sanfona. Mantendo <strong>uma alimentação
                sustentável</strong>, sem gastar dinheiro com suplementos desnecessários ou alimentos da moda.
            Melhorando sua saúde, sono e controle emocional.</p>
        <p class="mat-h1">Sem precisar fazer dietas restritivas que te deixam desanimado e sem força de vontade, mesmo
            antes de começar.</p>
        <p class="mat-h1">Imagina como seria <strong>fazer atividades do seu cotidiano sem dificuldades</strong>. Chegar
            na terceira idade completamente saudável, disposto e com energia. Sem precisar gastar uma fortuna com
            médicos e remédios caros.</p>
        <p class="mat-h1" style="text-align: center;">Isso é possível, e posso te garantir que você pode conquistar os
            resultados que deseja fazendo uma alimentação básica e natural.</p>
        <h1 class="mat-display-2">Você quer essa Transformação?</h1>
        <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button>
            <mat-icon>food_bank</mat-icon> SIM! EU QUERO
        </a>
    </div>
</section>
<section class="mat-elevation-z6">
    <div class="container">
        <h1 class="mat-display-1">EMAGREÇA COM SAÚDE E COM O ACOMPANHAMENTO DE UM PROFISSIONAL</h1>
        <ul>
            <li class="mat-headline">Emagreça com saúde e fique <strong>livre do efeito sanfona</strong>.</li>
            <li class="mat-headline">Faça <strong>o básico que funciona</strong> e alcance grandes resultados.</li>
            <li class="mat-headline">Tenha o acompanhamento de um profissional que vai <strong>te guiar pelo caminho
                    certo</strong>.</li>
            <li class="mat-headline"><strong>Atinja os seus objetivos mais rapidamente</strong> com um plano de ação
                específico.</li>
            <li class="mat-headline">Descubra o que realmente <strong>vai funcionar para você</strong> de forma
                eficiente.</li>
            <li class="mat-headline"><strong>Transforme o seu bem estar</strong> físico e mental para melhor.</li>
            <li class="mat-headline">Impulsione a sua autoestima e <strong>viva melhor consigo</strong>.</li>
        </ul>
        <h1 class="mat-display-2">Você pode ter tudo isso agora</h1>
        <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button>
            <mat-icon>food_bank</mat-icon> Quero Agora
        </a>
    </div>
</section>
<section class="mat-elevation-z6">
    <div class="container">
        <h1 class="mat-display-1">COMO FUNCIONA A CONSULTORIA?</h1>
        <p class="mat-h1"><strong>Tudo acontecerá de forma online</strong>. Isso significa que você vai poder estar no
            conforto da sua casa e fazer a consultoria comigo. Você vai se cadastrar, efetuar o pagamento, e eu entrarei
            em contato com você <strong>para marcarmos o primeiro encontro</strong>.</p>
        <p class="mat-h1">No ato da consulta você me enviará fotos suas demonstrando medidas e seu peso para analisarmos
            o melhor a ser feito. Depois de 1 mês você enviará novamente para uma reavaliação com <strong>objetivo de
                checar a evolução sobre o planejamento e seus resultados</strong>.</p>
        <p class="mat-h1">Após isso eu vou <strong>te acompanhar durante 3 meses</strong>detectando seus acertos e
            erros. Durante esse período nós vamos trabalhar duro para você atingir o seu resultado. Você terá <strong>um
                planejamento traçado</strong> para seguir e poderá entrar em contato comigo a qualquer momento.</p>
        <p class="mat-h1">Nós teremos contato direto no WhatsApp e você vai poder tirar qualquer dúvida comigo. Eu te
            acompanharei por lá e <strong>vou indicar tudo o que precisa ser feito</strong> passo a passo. <strong>Você
                não estará sozinho(a)</strong> em nenhum momento.</p>

        <h1 class="mat-display-2">O que acha disso?</h1>
        <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button>
            <mat-icon>food_bank</mat-icon> QUERO MINHA CONSULTORIA
        </a>
    </div>
</section>
<section class="mat-elevation-z6">
    <div class="container">
        <h1 class="mat-display-1">VALOR ESPECIAL DISPONÍVEL</h1>
        <p class="mat-h1">Aproveite a Consultoria Nutrição 4x para ter o meu acompanhamento pessoal durante 3 meses
            completos e finalmente emagrecer da forma certa.</p>
        <p class="mat-h1">No ato da consulta você me enviará fotos suas demonstrando medidas e seu peso para analisarmos
            o melhor a ser feito. Depois de 1 mês você enviará novamente para uma reavaliação com <strong>objetivo de
                checar a evolução sobre o planejamento e seus resultados</strong>.</p>
        <p class="mat-h1">Após isso eu vou <strong>te acompanhar durante 3 meses</strong>detectando seus acertos e
            erros. Durante esse período nós vamos trabalhar duro para você atingir o seu resultado. Você terá <strong>um
                planejamento traçado</strong> para seguir e poderá entrar em contato comigo a qualquer momento.</p>
        <p class="mat-h1">Nós teremos contato direto no WhatsApp e você vai poder tirar qualquer dúvida comigo. Eu te
            acompanharei por lá e <strong>vou indicar tudo o que precisa ser feito</strong> passo a passo. <strong>Você
                não estará sozinho(a)</strong> em nenhum momento.</p>

        <h1 class="mat-display-2">Consultoria Nutrição 4x</h1>
        <p>De: <s>R$ 597,90</s></p>
        <h2>POR APENAS</h2>
        <h3><span>3x R$ 134</span> ou R$ 400 à vista</h3>
        <h2>O que você recebe?</h2>
        <ul>
            <li>✅ Acompanhamento Exclusivo por 3 Meses.</li>
            <li>✅ 1 Consulta Online de Alinhamento.</li>
            <li>✅ Questionário Especial para Traçar seu Perfil.</li>
            <li>✅ Definição de um Plano de Ação.</li>
            <li>✅ Planejamento de Metas Específicas.</li>
            <li>✅ Contato Direto por WhatsApp e Email.</li>
        </ul>
        <h1 class="mat-display-2">Participe Agora</h1>
        <a href="https://link.pagar.me/lHJEBsdDC8" mat-raised-button>
            <mat-icon>food_bank</mat-icon> Quero Participar da Consultoria
        </a>
    </div>
</section>
<article class="container">
    <h2 class="mat-title">Dúvidas Frequentes </h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    1 - A Consultoria vai me ajudar?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Vai te ajudar a vencer o que mais te incomoda nos dias atuais e não te deixa viver como quer. Juntos nós
                vamos
                conseguir vencer e te colocar no eixo.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    2 - Qualquer pessoa pode aderir?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Toda e qualquer pessoa que quer aumentar a sua autoestima e eliminar a vergonha que tem do seu corpo pode
                participar. Se você já tentou de tudo e nada deu certo, você está em um bom lugar.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    3 - Quais formas de pagamento?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Você pode efetuar o pagamento no cartão de crédito ou boleto bancário. Após a confirmação de pagamento eu
                entro em contato e marcamos o primeiro encontro.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    4 - E depois de 3 meses, o que acontece?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Você ainda permanecerá com o meu contato pessoal para tirar qualquer dúvida. Porém, para traçarmos novas
                metas e objetivos precisamos renovar uma nova consultoria.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    5 - Em quanto tempo vejo resultados?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Os resultados variam de pessoa para pessoa. Depende muito da sua disciplina. Tenho pacientes que
                conseguiram enxergar resultados em 1 semana, como também tem pacientes que só enxergaram após 1 mês.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    6 - Tem alguma restrição para participar da consultoria?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Todos podem participar da consultoria. Independente de gênero, idade, estilo de vida ou histórico de
                exercícios. O único requisito é querer melhorar sua estética e saúde.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    7 - Existe consultoria presencial?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Sim. Mas em época de Covid aderimos para o atendimento online. Caso queira uma consultoria presencial
                após o
                Covid
                basta entrar em contato comigo no Instagram <a
                    href="https://www.instagram.com/cleydsonsobral/">@cleydsonsobral</a> ou pelo whatsapp <a
                    href="https://api.whatsapp.com/send?phone=558199040213&text=Ol%C3%A1%20Cleydson%20Sobral%2C%20quero%20agendar%20uma%20consulta%20com%20voc%C3%AA!">81.99405.0213</a>.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</article>