nav > mat-toolbar {
  a#logo {
    margin-right: 30px;
  }
  a.mat-button {
    font-family: "Barlow", sans-serif;
  }
}
.spacer {
  flex-grow: 1;
}

.show-small {
  display: none;
}
.hide-small {
  display: block;
}

/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 720px) {
  nav > mat-toolbar {
    a#logo {
      margin-right: 0;
    }
  }
  nav.show-small {
    display: flex;
    a.mat-button {
      flex: 1;
    }
  }
  .show-small {
    display: block;
  }
  .hide-small {
    display: none;
  }
}
