mat-toolbar {
    position: relative;
}
.spacer {
    flex-grow: 1;
}
.show-small {
    display: none;
}
.hide-small {
    display: block;
}

/**
    * Rules for when the device is detected to be a small screen.
    */
@media (max-width: 720px) {
    .show-small {
        display: block;
    }
    .hide-small {
        display: none;
    }
}
