<nav>
    <mat-toolbar class="mat-elevation-z6">
        <mat-toolbar-row class="container">
            <a routerLink="/"><img src="../assets/logo.svg" alt="Cleydson Sobral" width="auto" height="20"></a>
            <div class="spacer"></div>
            <a mat-button aria-label="Cleydson Sobral no Instagram" target="_blank" rel="noopener"
                href="https://www.instagram.com/cleydsonsobral/" title="Instagram" class="hide-small">
                <img src="assets/img/instagram.svg" alt="instagram" height="20" style="margin-right: 3px;">
                @cleydsonsobral
            </a>
            <a mat-icon-button aria-label="Cleydson Sobral no Instagram" target="_blank" rel="noopener"
                href="https://www.instagram.com/cleydsonsobral/" title="Instagram" class="show-small">
                <img src="assets/img/instagram.svg" alt="instagram" height="20" style="margin-right: 3px;">
            </a>
            <a mat-button aria-label="Cleydson Sobral no WhatsApp" target="_blank" rel="noopener"
                href="https://api.whatsapp.com/send?phone=558199040213&text=Ol%C3%A1%20Cleydson%20Sobral%2C%20quero%20agendar%20uma%20consulta%20com%20voc%C3%AA!"
                title="WhatsApp" class="hide-small">
                <img src="assets/img/whatsapp.svg" alt="whatsapp" height="24">
                (81) 9904-0213
            </a>
            <a mat-icon-button aria-label="Cleydson Sobral no WhatsApp" target="_blank" rel="noopener"
                href="https://api.whatsapp.com/send?phone=558199040213&text=Ol%C3%A1%20Cleydson%20Sobral%2C%20quero%20agendar%20uma%20consulta%20com%20voc%C3%AA!"
                title="WhatsApp" class="show-small">
                <img src="assets/img/whatsapp.svg" alt="whatsapp" height="24">
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>