section {
    header {
        background-color: #383b3f !important;
        padding-top: 60px;
        padding-bottom: 20px;
        h1 {
            color: #fff;
            margin-bottom: 0;
        }
    }
    article {
        padding-top: 20px;
    }
}