<section>
    <header>
        <div class="container">
            <h1 class="mat-display-1">Termos de Uso</h1>
        </div>
    </header>
    <article class="container">
        <h2>Políticas de Privacidade</h2>
        <h3>Quem somos?</h3>
        <p>O site cleydsonsobral.com.br é propriedade de Cleydson Sobral.</p>

        <h3>Quais dados pessoais coletamos e porque?</h3>
        <h4>Informações do Usuário</h4>
        <p>- É importante coletarmos algumas informações dos usuários de nossos serviços para que possamos oferecer um
            site
            melhor e mais direcionado às suas preferências. Também precisamos informá-los sobre novidades e informações
            relevantes. Por isso, leia atentamente esta política e nossos termos de uso.</p>
        <p>- Garantimos que quaisquer informações pessoais dos usuários não serão fornecidas, publicadas ou
            comercializadas
            em quaisquer circunstâncias. Estas informações estão seguras conosco. Exceto em casos de participação do
            usuário
            em algum comentário ou postagem. Neste caso, o nome, email e depoimento poderão ser publicados, conforme
            nossos
            termos de uso.</p>

        <h4>Cadastro</h4>
        <p>- Nós nunca enviamos e-mails solicitando confirmação de dados/cadastro ou com anexos executáveis (extensão
            exe,
            com, scr, bat) e links para download.</p>
        <p>- Para usufruir dos benefícios adicionais do site e receber o email com informações sobre nossos serviços,
            você
            precisa se cadastrar em algum de nossos formulários de opt-in. Este cadastro é armazenado em um banco de
            dados
            protegido e sigiloso.</p>
        <p>- Caso não queira receber mais nossos informativos, basta clicar no link de cancelamento que há no rodapé de
            cada
            mensagem ou nos avisar através de e-mail. Nós nunca enviamos spams.</p>

        <h4>Cookies</h4>
        <p>- Podemos utilizar a tecnologia de cookies para melhorar a experiência do usuário. Isso auxilia na
            identificação
            do seu IP, facilitando a navegação e customizando a navegação. Você pode bloquear qualquer uso de cookies
            diretamente no seu navegador.</p>

        <h4>Compartilhamento de informações</h4>
        <p>- Para fins de segurança, as informações poderão ser compartilhadas quando houver requerimento de autoridades
            judiciais ou governamentais competentes para fins de investigações pessoais conduzidas por elas, mesmo que
            não
            exista uma ordem judicial, por exemplo (e sem limitar-se a) quando tratar-se de investigação de caráter
            penal ou
            a violação de direitos do autor, ressalvadas as hipóteses de sigilo de informações determinadas por leis em
            vigor, ou ainda, comunicar informações quando haja motivos suficientes para considerar que a atividade de um
            usuário seja suspeita de tentar ou de cometer um delito ou tentar prejudicar outras pessoas.</p>
        <p>- Possuímos links de acesso para outros sites e que não estão cobertos por esta política. Assim, verifique a
            política de privacidade desses sites, tendo em vista que suas informações serão administradas de acordo com
            a
            política de cada um deles e que podem diferenciar das nossas.</p>
        <h3>Dúvidas e correção de dados</h3>
        <p>- Em caso de dúvidas o usuário poderá entrar em contato pelo e-mail: cleydsonutricionista@gmail.com</p>
        <p>- Reservamo-nos o direito de alterar a política a qualquer momento. </p>

        <h3>Quais os seus direitos sobre seus dados</h3>
        <p>Se você tiver uma conta neste site ou se tiver deixado comentários, pode solicitar um arquivo exportado dos
            dados
            pessoais que mantemos sobre você, inclusive quaisquer dados que nos tenha fornecido. Também pode solicitar
            que
            removamos qualquer dado pessoal que mantemos sobre você. Isto não inclui nenhuns dados que somos obrigados a
            manter para propósitos administrativos, legais ou de segurança.</p>
        <h3>Como protegemos seus dados</h3>
        <p>Seus dados pessoais enviados mediante cadastramento no site é armazenado em nossa base de dados para futuro
            relacionamento. Não compartilhamos de modo algum seus dados com terceiros.</p>
    </article>
    <footer class="container">
        <h3>Suas informações de contato</h3>
        <p>Para entrar em contato com o site, basta escrever para cleydsonutricionista@gmail.com</p>
    </footer>
</section>