mat-toolbar {
    position: relative;
}
.spacer {
    flex-grow: 1;
}
.show-small {
    display: none;
}
.hide-small {
    display: block;
}
header {
    background-image: url("../assets/comida-brasileira.jpeg");
    background-size: cover;
    margin-bottom: 40px;
    div.header {
        padding: 60px 0;
        background: rgb(223, 123, 42);
        background: linear-gradient(102deg, rgba(223, 123, 42, 1) 62%, rgba(223, 123, 42, 0) 62%);
    }
    h1.mat-display-3,
    h2.mat-headline {
        color: #fff;
    }
}
main {
    h1.mat-display-1 {
        color: #df7b2a;
        margin: 20px 0 32px;
    }
    h2.mat-headline {
        font-weight: 300;
        margin-bottom: 20px;
    }
    ul li {
        font-size: 20px;
        font-weight: 300;
    }
}
footer {
    margin: 40px 0 0;
    padding: 20px;
    background-color: #383b3f;
    color: #fff;
    text-align: center;
}

/**
    * Rules for when the device is detected to be a small screen.
    */
@media (max-width: 720px) {
    .show-small {
        display: block;
    }
    .hide-small {
        display: none;
    }
    header div.header {
        background: rgb(223, 123, 42);
        background: linear-gradient(102deg, rgba(223, 123, 42, 1) 88%, rgba(223, 123, 42, 0) 88%);
    }
}
