<app-navbar></app-navbar>
<section>
    <header>
        <div class="container">
            <h1 class="mat-display-1">Política de Cancelamento</h1>
        </div>
    </header>
    <article class="container">
        <p>Com o objetivo de atender você, da melhor forma possível, estabelecemos uma Política de Cancelamento e
            Reembolso de acordo com as suas necessidades e com a legislação vigente, em especial a Lei Federal nº 8.078,
            de 1990, o Código de Defesa do Consumidor.</p>

        <p>Para sua maior conveniência, todo e qualquer inscrição realizada na Consultoria poderá ser cancelada
            diretamente, através da função CANCELAMENTO (no rodapé de todas as páginas do site).</p>

        <p>Para a realização do cancelamento e reembolso, você deve observar os prazos legais e os demais procedimentos
            estipulados nesta política.</p>

        <p>IMPORTANTE: TODO CANCELAMENTO DEVE SER SOLICITADO PREVIAMENTE ATRAVÉS DE FUNÇÃO ESPECÍFICA.</p>

        <p>Os prazos e garantias mencionados aqui são os prazos e garantias previstos em lei e não serão adicionados aos
            prazos e garantias legais. Esta política não contém nenhum prazo ou condição complementar à garantia legal.
        </p>

        <h2>1.1 Devolução por Desistência.</h2>
        <p>O cliente poderá desistir da inscrição realizada na Consultoria desde que:</p>
        <p>(i) Comunique a intenção de desistência através da função CANCELAMENTO em até 7 (sete) dias corridos,
            contados da data da inscrição, desde que não ultrapasse a 7 (sete) dias.</p>

        <h2>1.2. Reembolso por Insatisfação.</h2>
        <p>O cliente poderá solicitar o reembolso do valor da inscrição realizada na Consultoria por insatisfação da
            realização do serviço, desde que:</p>
        <p>(i) Não ultrapasse a 7 (sete) dias contados da data da inscrição.</p>
        <p>Após a solicitação o caso será apurado em 15 dias e após esta data realizaremos o reembolso ou não de acordo
            com a constatação dos motivos que geraram insatisfação.</p>
    </article>
    <footer class="container">
        <p>Toda a Comunicação será realizada através do Email cleydsonutricionista@gmail.com</p>
    </footer>
</section>